*,
*::before,
*::after
{
	box-sizing: border-box;
	margin: 0;
}

html {
    font-size: 16px;
}

a, a:visited {
    text-decoration: none;
}

body, html {
    height: 100%;
    margin: 0;
}

body
{
	background: black;
	color: white;
}

.container
{
	position: relative;
	overflow: hidden;
	width: 100%;
    height: 100%;
    padding: 4rem; /* 64px / 16px = 4rem */
    background: #000000;
    justify-content: center;
    align-items: center;
    gap: 4rem; /* 64px / 16px = 4rem */
    display: flex;
    box-sizing: border-box;
	overflow: hidden;
}

.title
{
	font-size: 96px;
}

.content
{
	height: 100vh;
	display: grid;
	place-items: center;
    flex: 1;
    align-self: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem; /* 40px / 16px = 2.5rem */
    display: flex;
	z-index: 5;
	position: relative;
}

.Webserv
{
	position: absolute;
	inset: -200%;
	background-image: url("../images/white_noise.png");
	opacity: 20%;
	z-index: 10;
	pointer-events: none;
	animation: shift 0.2s linear infinite both;
}

@keyframes shift
{
	0%
	{
		transform: translateX(10%) translateY(10%);
	}

	100%
	{
		transform: translateX(-10%) translateY(-10%);
	}
}

.Text {
    width: 100%;
    align-self: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem; /* 24px / 16px = 1.5rem */
    display: flex;
}

.Heading {
    align-self: stretch;
    color: white;
    font-size: 3.25rem; /* 52px / 16px = 3.25rem */
    font-family: Raleway;
    font-weight: 700;
    line-height: 120%; /* 62.40px / 16px = 3.9rem */
    word-wrap: break-word;
}

.Paragraph {
    align-self: stretch;
    color: #999999;
    font-size: 1.5rem; /* 24px / 16px = 1.5rem */
    font-family: Open Sans;
    font-weight: 400;
    line-height: 160%;
    word-wrap: break-word;
}

.Button {
    padding: 1rem 1.5rem; /* Padding shorthand */
    border-radius: 0.25rem; /* 4px / 16px = 0.25rem */
    justify-content: center;
    align-items: center;
    gap: 0.5rem; /* 8px / 16px = 0.5rem */
    display: flex;
    color: white;
    font-size: 1.125rem; /* 18px / 16px = 1.125rem */
    font-family: Raleway;
    font-weight: 600;
    line-height: 150%; /* 27px / 16px = 1.6875rem */
    transition: background-color 0.3s ease; /* Smooth transition */
    user-select: none;
    background: linear-gradient(0deg, #0A7CFF 0%, #0A7CFF 100%), radial-gradient(70.71% 70.71% at 0.00% 120.71%, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0) 100%);
    box-shadow: 0px 1rem 2rem -0.5rem rgba(10, 124, 255, 0.48);
	transition: box-shadow 0.3s ease-in-out; /* Updated transition */
}

.Button:hover {
    box-shadow: 0 0 80px #0A7CFF; /* Modified box-shadow on hover */
    cursor: pointer;
    user-select: none;
}

.ImageContainer {
    flex: 1;
    width: 100%;
    align-self: stretch;
    padding: 6rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; /* 8px / 16px = 0.5rem */
    display: flex;
    user-select: none;
}

.Image {
    z-index: 20;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem; /* 24px / 16px = 1.5rem */
	opacity: 60%;
	filter: saturate(0%);
    user-select: none;
    transition: opacity 0.3s ease, border-radius 0.3s ease, filter 0.3s ease; /* Smooth transition for opacity, border-radius, and filter */
}

.Image:hover {
	opacity: 100%;
    border-radius: 15%;
    filter: saturate(100%);
    z-index: 20;
}
