*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 16px;
}

a, a:visited {
    text-decoration: none;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    background: black;
    color: white;
}

.Website {
    width: 100%;
    height: 100%;
    padding: 4rem;
    background: black;
	position: relative;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    display: inline-flex;
}

.Ellipse1
{
    width: 816px;
    height: 816px;
    background: linear-gradient(180deg, #0E7BF8 0%, #0E7BF8 86%);
    border-radius: 9999px;
    filter: blur(300px);
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Content {
    flex: 1 1 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    display: inline-flex;
}

.Text {
    align-self: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    display: flex;
	padding-bottom: 2rem;
}

.Heading {
    text-align: center;
    color: white;
    font-size: 6rem;
    font-family: Raleway;
    font-weight: 700;
    line-height: 6rem;
    word-wrap: break-word;
}

.Paragraph {
    text-align: center;
    color: #A6AAB2;
    font-size: 1.5rem;
    font-family: Open Sans;
    font-weight: 600;
    line-height: 3rem;
    word-wrap: break-word;
}

.Buttons {
    align-self: stretch;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    display: inline-flex;
}

.ButtonPrimary,
.ButtonSecondary {
    padding: 1.8rem 2.2rem;
    border-radius: 3rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    display: flex;
	border-style: none;
    user-select: none;
    text-decoration: none;
}

.ButtonPrimary:hover {
    box-shadow: 0 0 80px #0A7CFF; /* Modified box-shadow on hover */
	cursor: pointer;
    text-decoration: none;
}

.ButtonSecondary:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0.12) 100%), radial-gradient(70.71% 70.71% at 0.00% 120.71%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
    cursor: pointer;
    user-select: none;
}

.ButtonPrimary {
    background: linear-gradient(0deg, #0A7CFF 0%, #0A7CFF 100%), radial-gradient(70.71% 70.71% at 0.00% 120.71%, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0) 100%);
    box-shadow: 0px 1rem 2rem -0.5rem rgba(10, 124, 255, 0.48);
	transition: box-shadow 0.3s ease-in-out; /* Updated transition */
}

.ButtonSecondary {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 100%), radial-gradient(70.71% 70.71% at 0.00% 120.71%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 0px 0px 0.0625rem rgba(255, 255, 255, 0.06);
}

.ReadDocumentation,
.DiscoverStatusCodes {
    text-align: center;
    color: white;
    font-size: 1.3rem;
    font-family: Open Sans;
    font-weight: 600;
    line-height: 1.5rem;
    word-wrap: break-word;
}

.stars1, .stars2
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("../images/stars.png");
	object-fit: cover;
	z-index: 10;
	pointer-events: none;
}


.stars2
{
	transform: scaleY(-1); /* Invert the image vertically */
	animation: shift1 3s ease-in-out infinite alternate;
}

.stars1 {
    animation: shift1 5s ease-in-out infinite alternate-reverse;
}

@keyframes shift1 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shift2
{
    100% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    0% {
        opacity: 1;
    }
}